@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

html {
  background: url('../assets/background.jpg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  backdrop-filter: blur(0px);

}

body {
  color: white;
  font-family: 'Exo', 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.pad-red,
.pad-green,
.pad-yellow,
.pad-blue {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 40px;
}

h1 {
  font-size: 40px;
}

h1, h2{
  text-align: center;
  font-family: 'Exo', 'Arial';
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.game-controls {
  text-align: center;
}

.start-button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: White;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid yellow;
  cursor: pointer;
}

.start-button:hover {
  color: greenyellow;
  font-size: 18px;
  border-color: greenyellow;
  transform: rotate(5deg);
}

.status {
  font-size: 22px;
}

.pad-container {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  grid-gap: 5px;
  margin: 20px;
}

#skill-level {
  margin-top: 20px;
  background-color: #000;
  color: white;
  border: 1px solid yellow;
  font-family: 'Exo', 'Arial', sans-serif;
}

.pad-red {
  border-top-left-radius: 200px;
  background-color: red;
}

.pad-red:hover,
.pad-red:focus {
  background-color: #ff451a;
  transform: rotate(5deg);
}

.pad-red:active,
.pad-red.activated {
  background-color: #ff5c36;
  transform: translateY(10px);
}

.pad-green {
  border-top-right-radius: 200px;
  background-color: green;
}

.pad-green:hover,
.pad-green:focus {
  background-color: #8cc218;
  transform: rotate(5deg);
}

.pad-green:active,
.pad-green.activated {
  background-color: #a0ea00;
  transform: translateY(10px);
}

.pad-yellow {
  border-bottom-right-radius: 200px;
  background-color: yellow;
}

.pad-yellow:hover,
.pad-yellow:focus {
  background-color: #ffb900;
  transform: rotate(5deg);
}

.pad-yellow:active,
.pad-yellow.activated {
  background-color: #ffca3d;
  transform: translateY(10px);
}

.pad-blue {
  border-bottom-left-radius: 200px;
  background-color: blue;
}

.pad-blue:hover,
.pad-blue:focus {
  background-color: #139ddd;
  transform: rotate(5deg);
}

.pad-blue:active,
.pad-blue.activated {
  background-color: #2bbcff;
  transform: translateY(10px);
}


.hidden {
  display: none;
}

.unclickable {
  pointer-events: none;
}

.background-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(0px);
  pointer-events: none;
  z-index: -1;
}